<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="use_asv" default="true"/>
    <arg name="uav_name" default="hector"/>
    <arg name="asv_name" default="halcyon"/>

    <node name="uav_rqt_flight_status" pkg="mimree_flight_rqt" type="rqt_flight_status" args="--standalone mimree_flight_rqt --args --fcu $(arg uav_name)"/>
    <group if="$(arg use_asv)">
        <node name="asv_rqt_flight_status" pkg="mimree_flight_rqt" type="rqt_flight_status" args="--standalone mimree_flight_rqt --args --fcu $(arg asv_name)"/>
    </group>
</launch>
